Repository jayc13/random-quotes: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, e2e, Components, API, Pages

Add translation validation and documentation to translate service
  src/services/translate.service.ts
Due: unit, integration, e2e

Normalize category names to lowercase in quote service and tests
  src/services/quote.service.ts
  tests/integration/quote-svg.test.ts
  tests/integration/quote.test.ts
Due: unit, integration, e2e

Normalize quote categories to lowercase and update related service methods
  pages/api/quotes.json
  src/services/quote.service.ts
  tests/unit/services/quote.service.test.ts
Due: unit, integration, e2e, API

Update quote test data and adjust random quote retrieval for accuracy
  tests/unit/services/quote.service.test.ts
Due: none

Add language validation and update category fetching to support multilingual categories
  pages/api/categories.ts
  pages/index.tsx
  src/components/CategorySelector.tsx
  tests/unit/components/CategorySelector.test.tsx
  tests/unit/pages/index.test.tsx
Due: unit, integration, e2e, Components, API, Pages

Update mock category data to include IDs for improved consistency
  tests/unit/pages/index.test.tsx
Due: none

Request categories by lang (#106)
  pages/api/categories.ts
  pages/index.tsx
  src/components/CategorySelector.tsx
  tests/unit/components/CategorySelector.test.tsx
  tests/unit/pages/index.test.tsx
Due: unit, integration, e2e, Components, API, Pages

Add coverage paths for services, contexts, and providers in Codecov configuration
  .codecov.yml
Due: none

Add support for default language and handle unsupported language requests
  pages/api/categories.ts
  src/services/translate.service.ts
  tests/integration/categories.test.ts
Due: unit, integration, e2e, API

Fix quote request handling in tests to ensure correct HTTP method is used
  tests/playwright/quote.spec.ts
Due: none

Translate categories (#105)
  .codecov.yml
  pages/api/categories.json
  pages/api/categories.ts
  pages/api/quotes.json
  pages/index.tsx
  src/components/CategorySelector.tsx
  src/services/category.service.ts
  src/services/quote.service.ts
  src/services/translate.service.ts
  tests/integration/categories.test.ts
  tests/integration/quote-svg.test.ts
  tests/integration/quote.test.ts
  tests/playwright/quote.spec.ts
  tests/unit/components/CategorySelector.test.tsx
  tests/unit/pages/index.test.tsx
  tests/unit/services/category.service.test.ts
  tests/unit/services/quote.service.test.ts
Due: unit, integration, e2e, Components, API, Pages

Add translations for category and theme change in multiple languages
  src/providers/ThemeProvider.tsx
  src/translations/de.json
  src/translations/en.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/pt.json
  tests/unit/context/ThemeProvider.test.tsx
  tests/unit/services/translate.service.test.ts
  tests/unit/translations/translations.test.ts
Due: unit, integration, e2e

Add "Random" translation to multiple languages and update language context
  src/components/LanguageSelector.tsx
  src/context/LanguageContext.tsx
  src/translations/de.json
  src/translations/en.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/pt.json
Due: unit, integration, e2e, Components

Update language selector tests to include German and adjust language indices
  tests/unit/components/LanguageSelector.test.tsx
Due: none

Translate remaining labels (#107)
  src/components/LanguageSelector.tsx
  src/context/LanguageContext.tsx
  src/providers/ThemeProvider.tsx
  src/translations/de.json
  src/translations/en.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/pt.json
  tests/unit/components/LanguageSelector.test.tsx
  tests/unit/context/ThemeProvider.test.tsx
  tests/unit/services/translate.service.test.ts
  tests/unit/translations/translations.test.ts
Due: unit, integration, e2e, Components

Add tests for supported languages in LanguageContext
  tests/unit/context/LanguageContext.test.tsx
Due: none

Add language support to getRandomQuote and enhance translation functionality
  src/services/quote.service.ts
  tests/unit/services/quote.service.test.ts
  tests/unit/services/translate.service.test.ts
Due: unit, integration, e2e

Add language parameter to quote fetching and update related tests
  pages/api/quote.svg.ts
  pages/api/quote.ts
  pages/index.tsx
  tests/integration/quote-svg.test.ts
Due: API, Pages

Fix language parameter in quote fetching and update translation handling
  pages/index.tsx
  src/components/LanguageSelector.tsx
  src/services/quote.service.ts
  src/services/translate.service.ts
  tests/unit/services/translate.service.test.ts
Due: unit, integration, e2e, Components, Pages

Refactor translation result handling to improve error checking
  src/services/translate.service.ts
Due: unit, integration, e2e

Update quote tests to include language parameter in API routing
  tests/playwright/quote.spec.ts
Due: none

Enhance quote retrieval with detailed query parameters and improve translation handling
  src/services/quote.service.ts
  src/services/translate.service.ts
Due: unit, integration, e2e

Remove unnecessary console log from quote service
  src/services/quote.service.ts
Due: unit, integration, e2e

Quote service use the translation service (#108)
  pages/api/quote.svg.ts
  pages/api/quote.ts
  pages/index.tsx
  src/components/LanguageSelector.tsx
  src/services/quote.service.ts
  src/services/translate.service.ts
  tests/integration/quote-svg.test.ts
  tests/playwright/quote.spec.ts
  tests/unit/context/LanguageContext.test.tsx
  tests/unit/services/quote.service.test.ts
  tests/unit/services/translate.service.test.ts
Due: unit, integration, e2e, Components, API, Pages

Add Next.js configuration with experimental features and ESLint settings
  next.config.js
  next.config.ts
Due: none

Refactor LanguageSelector to use styled components and dynamic language options
  src/components/LanguageSelector.tsx
Due: unit, integration, e2e, Components

Refactor ESLint configuration to use FlatCompat for compatibility with Next.js
  eslint.config.mjs
Due: none

Lang selector visual improvements (#111)
  next.config.js
  next.config.ts
  src/components/LanguageSelector.tsx
Due: unit, integration, e2e, Components

Fix import statements to use consistent single quotes
  jest.integration.config.ts
  jest.unit.config.ts
  pages/api/categories.ts
  pages/index.tsx
  src/components/CategorySelector.tsx
  src/context/LanguageContext.tsx
  src/providers/ThemeProvider.tsx
  src/services/category.service.ts
  src/services/quote.service.ts
  src/services/translate.service.ts
  tests/integration/categories.test.ts
  tests/integration/quote-svg.test.ts
  tests/integration/quote.test.ts
  tests/integration/rate-limit.test.ts
  tests/playwright/quote.spec.ts
  tests/playwright/translation.spec.ts
  tests/unit/context/LanguageContext.test.tsx
  tests/unit/context/ThemeProvider.test.tsx
  tests/unit/pages/index.test.tsx
  tests/unit/services/quote.service.test.ts
  tests/unit/translations/translations.test.ts
Due: unit, integration, e2e, Components, API, Pages

Refactor error handling in fetch calls and update ESLint configuration for Next.js compatibility
  eslint.config.mjs
  pages/index.tsx
  src/components/CategorySelector.tsx
  src/services/translate.service.ts
  tests/integration/rate-limit.test.ts
  tests/unit/components/LanguageSelector.test.tsx
  tests/unit/context/LanguageContext.test.tsx
  tests/unit/translations/translations.test.ts
Due: unit, integration, e2e, Components, Pages

Update Node.js version to 23 in CI configuration files
  .github/workflows/pr-main-checker.yml
  .github/workflows/prod-deployment.yml
Due: none

Refactor LanguageSelector component to improve styling imports
  src/components/LanguageSelector.tsx
Due: unit, integration, e2e, Components

Fix lint configuration (#112)
  .github/workflows/pr-main-checker.yml
  .github/workflows/prod-deployment.yml
  eslint.config.mjs
  jest.integration.config.ts
  jest.unit.config.ts
  pages/api/categories.ts
  pages/index.tsx
  src/components/CategorySelector.tsx
  src/components/LanguageSelector.tsx
  src/context/LanguageContext.tsx
  src/providers/ThemeProvider.tsx
  src/services/category.service.ts
  src/services/quote.service.ts
  src/services/translate.service.ts
  tests/integration/categories.test.ts
  tests/integration/quote-svg.test.ts
  tests/integration/quote.test.ts
  tests/integration/rate-limit.test.ts
  tests/playwright/quote.spec.ts
  tests/playwright/translation.spec.ts
  tests/unit/components/LanguageSelector.test.tsx
  tests/unit/context/LanguageContext.test.tsx
  tests/unit/context/ThemeProvider.test.tsx
  tests/unit/pages/index.test.tsx
  tests/unit/services/quote.service.test.ts
  tests/unit/translations/translations.test.ts
Due: unit, integration, e2e, Components, API, Pages

Update README.md to enhance project description and add live demo link
  README.md
Due: none

Add LICENSE file to the repository
  screenshots/home.png
Due: none

Create LICENSE
  LICENSE
Due: none

Update readme (#113)
  LICENSE
  README.md
  screenshots/home.png
Due: none

Path conditions:
  unit: any of: src/, but not: tests/**/*, **/*.test.{ts,tsx,js,jsx}, .github/**/*, .next/**/*, .swc/**/*, .test-results/**/*, node_modules/**/*, .gitignore, babel.config.js, eslint.config.mjs, jest.config.ts, next.config.js, next-env.d.ts, package.json, package-lock.json, playwright.config.ts, README.md, run_tests.sh, tsconfig.json, vercel.json
  integration: any of: src/, but not: tests/**/*, **/*.test.{ts,tsx,js,jsx}, .github/**/*, .next/**/*, .swc/**/*, .test-results/**/*, node_modules/**/*, .gitignore, babel.config.js, eslint.config.mjs, jest.config.ts, next.config.js, next-env.d.ts, package.json, package-lock.json, playwright.config.ts, README.md, run_tests.sh, tsconfig.json, vercel.json
  e2e: any of: src/, but not: tests/**/*, **/*.test.{ts,tsx,js,jsx}, .github/**/*, .next/**/*, .swc/**/*, .test-results/**/*, node_modules/**/*, .gitignore, babel.config.js, eslint.config.mjs, jest.config.ts, next.config.js, next-env.d.ts, package.json, package-lock.json, playwright.config.ts, README.md, run_tests.sh, tsconfig.json, vercel.json
  Components: any of: src/components/**, but not: tests/**/*, **/*.test.{ts,tsx,js,jsx}, .github/**/*, .next/**/*, .swc/**/*, .test-results/**/*, node_modules/**/*, .gitignore, babel.config.js, eslint.config.mjs, jest.config.ts, next.config.js, next-env.d.ts, package.json, package-lock.json, playwright.config.ts, README.md, run_tests.sh, tsconfig.json, vercel.json
  API: any of: pages/api/**, but not: tests/**/*, **/*.test.{ts,tsx,js,jsx}, .github/**/*, .next/**/*, .swc/**/*, .test-results/**/*, node_modules/**/*, .gitignore, babel.config.js, eslint.config.mjs, jest.config.ts, next.config.js, next-env.d.ts, package.json, package-lock.json, playwright.config.ts, README.md, run_tests.sh, tsconfig.json, vercel.json
  Pages: any of: pages/index.tsx, but not: tests/**/*, **/*.test.{ts,tsx,js,jsx}, .github/**/*, .next/**/*, .swc/**/*, .test-results/**/*, node_modules/**/*, .gitignore, babel.config.js, eslint.config.mjs, jest.config.ts, next.config.js, next-env.d.ts, package.json, package-lock.json, playwright.config.ts, README.md, run_tests.sh, tsconfig.json, vercel.json
