Repository jayc13/random-quotes: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, e2e, Components, API, Pages

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
        branches:
          - main
        if_ci_failed: error
    patch:
      default:
        target: 80%
        threshold: 1%
        base: auto

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

ignore:
  - "tests/**/*"
  - "**/*.test.{ts,tsx,js,jsx}"
  - ".github/**/*"
  - ".next/**/*"
  - ".swc/**/*"
  - ".test-results/**/*"
  - "node_modules/**/*"
  - ".gitignore"
  - "babel.config.js"
  - "eslint.config.mjs"
  - "jest.config.ts"
  - "next.config.js"
  - "next-env.d.ts"
  - "package.json"
  - "package-lock.json"
  - "playwright.config.ts"
  - "README.md"
  - "run_tests.sh"
  - "tsconfig.json"
  - "vercel.json"

flags:
  unit:
    paths:
      - src/
    carryforward: true
  integration:
    paths:
      - src/
    carryforward: true
  e2e:
    paths:
      - src/
    carryforward: true

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_components
      name: Components
      paths:
        - src/components/**
    - component_id: module_api
      name: API
      paths:
        - pages/api/**
    - component_id: module_pages
      name: Pages
      paths:
        - pages/index.tsx

Rename deployment workflow for clarity
  .github/workflows/prod-deployment.yml
Due: none

Add junit.xml to .gitignore
  .gitignore
Due: none

Add badges for code coverage and production deployment in README
  README.md
Due: none

Improvements (#84)
  .github/workflows/prod-deployment.yml
  .gitignore
  README.md
Due: none

Refactor rate limit imports and update integration tests
  pages/api/quote.svg.ts
  pages/api/quote.ts
  pages/services/rate-limit.ts
  tests/integration/integration.test.ts
  tests/unit/services/rate-limit.test.ts
Due: API

Add Jest unit configuration and update test scripts
  eslint.config.mjs
  jest.config.ts
  jest.integration.config.ts
  jest.unit.config.ts
  package.json
Due: none

Update ESLint configuration and dependencies for improved linting support
  eslint.config.mjs
  next.config.js
  package-lock.json
  package.json
  pages/index.tsx
Due: Pages

Refactor rate limit import paths and enhance test request mocks
  pages/api/quote.svg.ts
  pages/api/quote.ts
  src/services/rate-limit.ts
  tests/unit/services/rate-limit.test.ts
Due: unit, integration, e2e, API

Refactor rate limit import paths and enhance test request mocks
  jest.integration.config.ts
  jest.unit.config.ts
Due: none

Add package-lock.json
  package-lock.json
Due: none

Rename integration.test.ts to quote.test.ts and streamline quote API tests
  tests/integration/integration.test.ts
  tests/integration/quote-svg.test.ts
  tests/integration/quote.test.ts
  tests/integration/rate-limit.test.ts
Due: none

Code coverage api (#85)
  eslint.config.mjs
  jest.config.ts
  jest.integration.config.ts
  jest.unit.config.ts
  next.config.js
  package-lock.json
  package.json
  pages/api/quote.svg.ts
  pages/api/quote.ts
  pages/index.tsx
  src/services/rate-limit.ts
  tests/integration/integration.test.ts
  tests/integration/quote-svg.test.ts
  tests/integration/quote.test.ts
  tests/integration/rate-limit.test.ts
  tests/unit/services/rate-limit.test.ts
Due: unit, integration, e2e, API, Pages

Refactor quote retrieval to use service method and add tests for author filtering
  pages/api/quote.svg.ts
  pages/api/quote.ts
  src/services/quote.service.ts
  tests/integration/quote-svg.test.ts
  tests/unit/services/quote.service.test.ts
Due: unit, integration, e2e, API

Refactor quote retrieval to use service method and add tests for author filtering
  src/services/quote.service.ts
  tests/unit/services/quote.service.test.ts
Due: unit, integration, e2e

Refactor quote retrieval to use service method (#86)
  pages/api/quote.svg.ts
  pages/api/quote.ts
  src/services/quote.service.ts
  tests/integration/quote-svg.test.ts
  tests/unit/services/quote.service.test.ts
Due: unit, integration, e2e, API

Remove redundant category tests from quote.test.ts
  pages/api/categories.json
  src/services/category.service.ts
  tests/integration/categories.test.ts
  tests/integration/quote.test.ts
  tests/unit/services/category.service.test.ts
Due: unit, integration, e2e, API

Implement rate limiting for categories API and update tests
  pages/api/categories.json
  pages/api/categories.ts
  tests/integration/categories.test.ts
  tests/integration/quote-svg.test.ts
  tests/integration/quote.test.ts
  tests/integration/rate-limit.test.ts
Due: API

Add a categories endpoint to retrieve quote categories. (#87)
  pages/api/categories.json
  pages/api/categories.ts
  src/services/category.service.ts
  tests/integration/categories.test.ts
  tests/integration/quote-svg.test.ts
  tests/integration/quote.test.ts
  tests/integration/rate-limit.test.ts
  tests/unit/services/category.service.test.ts
Due: unit, integration, e2e, API

Add category filtering to quote retrieval
  pages/api/quote.svg.ts
  pages/api/quote.ts
  pages/api/quotes.json
  src/services/quote.service.ts
  tests/integration/quote.test.ts
  tests/unit/services/quote.service.test.ts
Due: unit, integration, e2e, API

Return an empty object instead of an array on file read error
  src/services/quote.service.ts
Due: unit, integration, e2e

Add tests for quote retrieval by category and author
  tests/integration/quote-svg.test.ts
  tests/integration/quote.test.ts
Due: none

Add category filtering to quote retrieval (#88)
  pages/api/quote.svg.ts
  pages/api/quote.ts
  pages/api/quotes.json
  src/services/quote.service.ts
  tests/integration/quote-svg.test.ts
  tests/integration/quote.test.ts
  tests/unit/services/quote.service.test.ts
Due: unit, integration, e2e, API

Rename CategorySelector.js to CategorySelector.ts
  src/components/CategorySelector.ts
Due: unit, integration, e2e, Components

Rename CategorySelector.ts to CategorySelector.tsx and update component to use MUI Select for category selection
  pages/index.tsx
  src/components/CategorySelector.ts
  src/components/CategorySelector.tsx
  src/components/ThemeProvider.tsx
  tests/unit/pages/index.test.tsx
Due: unit, integration, e2e, Components, Pages

Refactor error handling in category fetching and improve test cleanup
  src/components/CategorySelector.tsx
  src/services/quote.service.ts
  tests/unit/components/CategorySelector.test.tsx
  tests/unit/pages/index.test.tsx
  tests/unit/services/quote.service.test.ts
  tests/unit/services/rate-limit.test.ts
Due: unit, integration, e2e, Components

Add test for category change to fetch new quote in HomePage component
  tests/unit/pages/index.test.tsx
Due: none

Update CategorySelector styles, remove ThemeProvider from Loading component, and add new e2e test command
  package.json
  src/components/CategorySelector.tsx
  src/components/Loading.tsx
  tests/playwright/quote.spec.ts
Due: unit, integration, e2e, Components

Added a category selector dropdown to filter quotes by category (#89)
  package.json
  pages/index.tsx
  src/components/CategorySelector.tsx
  src/components/Loading.tsx
  src/components/ThemeProvider.tsx
  tests/playwright/quote.spec.ts
  tests/unit/components/CategorySelector.test.tsx
  tests/unit/pages/index.test.tsx
  tests/unit/services/quote.service.test.ts
  tests/unit/services/rate-limit.test.ts
Due: unit, integration, e2e, Components, Pages

Enhance e2e tests to validate quote retrieval by category selection
  package.json
  tests/playwright/quote.spec.ts
Due: none

Enhance e2e tests to validate quote retrieval by category selection (#90)
  package.json
  tests/playwright/quote.spec.ts
Due: none

Add translation service with support for multiple languages and endpoints
  src/services/translate.service.ts
  tests/unit/services/translate.service.test.ts
Due: unit, integration, e2e

Create en.json
  src/translations/en.json
Due: unit, integration, e2e

Refactor language context and provider integration in components
  pages/_app.tsx
  pages/index.tsx
  src/components/LanguageSelector.js
  src/components/LanguageSelector.tsx
  src/context/LanguageContext.tsx
  src/providers/LangProvider.tsx
  src/providers/ThemeProvider.tsx
  tests/unit/components/LanguageSelector.test.tsx
  tests/unit/context/LanguageContext.test.tsx
  tests/unit/context/ThemeProvider.test.tsx
  tests/unit/pages/index.test.tsx
  tests/unit/providers/LangProvider.test.tsx
Due: unit, integration, e2e, Components, Pages

Refactor LanguageProvider to LanguageContext and improve error handling in quote retrieval
  jest.unit.config.ts
  pages/_app.tsx
  pages/index.tsx
  src/components/LanguageSelector.tsx
  src/providers/LangProvider.tsx
  tests/unit/components/LanguageSelector.test.tsx
  tests/unit/context/LanguageContext.test.tsx
  tests/unit/pages/index.test.tsx
  tests/unit/providers/LangProvider.test.tsx
Due: unit, integration, e2e, Components, Pages

Add tests for LanguageContext and LanguageSelector components
  tests/unit/components/LanguageSelector.test.tsx
  tests/unit/context/LanguageContext.test.tsx
Due: none

Refactor Tagline component to use h1 and update error handling in quote retrieval
  pages/index.tsx
  tests/playwright/translation.spec.ts
Due: Pages

Add translation functionality to the website. (#92)
  jest.unit.config.ts
  pages/_app.tsx
  pages/index.tsx
  src/components/LanguageSelector.tsx
  src/context/LanguageContext.tsx
  src/providers/ThemeProvider.tsx
  src/translations/en.json
  src/translations/es.json
  src/translations/fr.json
  src/translations/it.json
  src/translations/pt.json
  tests/playwright/translation.spec.ts
  tests/unit/components/LanguageSelector.test.tsx
  tests/unit/context/LanguageContext.test.tsx
  tests/unit/context/ThemeProvider.test.tsx
  tests/unit/pages/index.test.tsx
Due: unit, integration, e2e, Components, Pages

Add tests for translateText function and handle unsupported languages
  src/services/translate.service.ts
  tests/unit/services/translate.service.test.ts
Due: unit, integration, e2e

Translate service (#104)
  src/services/translate.service.ts
  tests/unit/services/translate.service.test.ts
Due: unit, integration, e2e

Refactor category structure to support multilingual categories and update service methods
  pages/api/categories.json
  src/services/category.service.ts
  tests/unit/services/category.service.test.ts
Due: unit, integration, e2e, API
